body{
    font-family: "Roboto", "Gill Sans MT";
    padding: 7.5%;
    color: #ffffff;
    background-color: #232323

}

.class-name {
    font-weight: bold;
}

.object-type{
    color: green;
}
/*
Fix colors
 */
.reference-name{
    color: blue;
}

.card-header{
   background-color: #1a1d21;
}