body{
    font-family: "Roboto", "Gill Sans MT";
    padding: 7.5%;
    color: #ffffff;
    background-color: #232323
}


a{
    text-decoration: none;
    color: transparent;
}

a:hover, focus{color:transparent}


.files{
    padding: 1.5%;
    margin: 0.2%;
    border-radius: 4px;
    background-color: #2B2B2B;
    font-size: 20px;
}

.files-description{
    padding: 1.5%;
    margin: 0.2%;
    border-radius: 4px;
    background-color: #2B2B2B;
    font-size: 20px;
}

.files:hover{
    border: 1px solid #ffffff;
    background-color:#3f3f3f;
}

.class-name {
    font-weight: bold;
    font-size: 45px;
}

.reference-name{
    color: white;
    font-weight: bold;
}

.card{
    border: 1px  transparent;
    outline: 0px;
}

.card:hover{
    border: 1px solid #ffffff;
}

.card-header{
   background-color: #2B2B2B;
    font-size:30px;
}

.card-body{
    background-color: #382020;
    font-size:18px;
}

.object-type{
    color: white;
    font-family: lato;
    font-weight:100;
}

.scope-type{
    color: white;
    font-family: lato;
    font-weight:100;
}

.core{
    border: 1px solid #939393;
    border-radius: 4px;
    padding: 3%;
    position:absolute;
    min-width: 700px;

}

.func-var-div{
    padding-left: 5.2%;
    padding-bottom: 2%;
}

.func-var-header{
    padding-bottom: 1.7%;
    font-family: lato;
    font-weight: normal;
    font-size: 30px;
}

.glyphicon{ font-size: 20px;}

.title{font-size: 40px; font-weight: bold;}

.author-name{font-size:40px; font-weight:lighter;}

.version{font-size: 15px; font-style: italic}

.lastupdate{font-size: 15px;}

.home_button{padding:1.2%;}

@media screen and (max-width: 320px){
    .core{min-width: 100px;}
}

@media screen and (max-width: 480px){
    .core{min-width: 140px;}
}

@media screen and (max-width: 360px){
    .core{min-width: 100px;}
}

@media screen and (max-width: 812px){
    .core{min-width: 200px;}
}

@media screen and (max-width: 1600px){
    .core{min-width: 600px;}
}


@media screen and (max-width: 2160px){
    .core{min-width: 1000px;}
}